<nav>
  <ul class="navbar">
    <li><a href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
    <li><a href="/pages/torneos.html"><i class="fa-solid fa-trophy"></i> Torneos</a></li>
    <li><a href="/pages/jugadores.html"><i class="fa-solid fa-person-running"></i> Jugadores Históricos</a></li>
    <li><a href="/pages/equipos.html"><i class="fa-solid fa-futbol"></i> Equipos Históricos</a></li>
    <li><a href="/pages/contacto.html"><i class="fa-solid fa-envelope"></i> Contacto</a></li>
  </ul>
</nav>